:root {
  --lime: #72E6AE;
  --shark: #21212F;
  --polar: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html {
    background: var(--shark);
    color: var(--lime);
}

body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  
}

h4 {
    size: 16px;
    margin: 0;
}

p {
    margin: 0;
    size: 16px;
    font-weight: 400;
}

/* COLOUR PALETTE */
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperContent {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.content {
  height: 120px;
  width: 560px;
  background-image: url('images/bitcloud_dark.svg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.footer {
  height: auto;
  display: flex;
  align-items: center;
  padding: 32px 40px;
  justify-content: space-between;
  width: 100%;
}